.tab {
  padding: 8px 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color:var(--color-foreground-light);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.active {
  color:var(--color-foreground-accent);
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-background-accent);
  left: 0;
  bottom: 0;
}
